.ͼ14,
.ͼo {
  @apply !bg-transparent;
}

.cm-gutter:nth-of-type(3) {
  display: none !important;
}

.ͼ1 .cm-scroller {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-size: 12px;
  font-style: normal;
}

.cm-editor {
  height: 100%;
  font-size: 12px;
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-editor .cm-scroller {
  padding-top: 0rem;
}

.cm-editor .cm-gutters {
  background: none;
  border: 0;
}

.cm-editor .cm-lineNumbers .cm-gutterElement {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

/* Cursor name */
.cm-editor .cm-ySelectionInfo {
  position: absolute;
  top: -1.6em;
  left: -1px;
  padding: 2px 6px;
  opacity: 1;
  color: #fff;
  border: 0;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  line-height: normal;
  white-space: nowrap;
  font-size: 12px;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-style: normal;
  font-weight: 600;
  pointer-events: none;
  user-select: none;
  z-index: 1000;
}

.cm-editor .cm-ySelectionCaretDot {
  display: none;
}

.read-only-editor .cm-activeLine,
.read-only-editor .cm-activeLineGutter {
  @apply !bg-transparent;
}

.ͼo.cm-focused .cm-selectionBackground,
.ͼo .cm-line::selection,
.ͼo .cm-selectionLayer .cm-selectionBackground,
.ͼo .cm-content ::selection,
.ͼ14.cm-focused .cm-selectionBackground,
.ͼ14 .cm-line::selection,
.ͼ14 .cm-selectionLayer .cm-selectionBackground,
.ͼ14 .cm-content ::selection,
.ͼ14 .cm-selectionMatch,
.ͼ1 .cm-selectionMatch {
  @apply !bg-[#fff0dd] dark:!bg-[#3d2b15];
}
